.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }
 
 .paginator p,.paginator h5{
    margin: 0;
 }
 /* .paginator button{
    border: none;
    background-color: transparent;
    transition: 0.5s;
    padding: 0px 5px;
 } */
/*  .paginator button:hover{
    background-color: var(--colorMain);
    color: var(--colorWhite);
    border-radius: 10px;
 } */

 .pagination-numbers{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid var(--colorMain);
    background-color: transparent;
}

.pagination-numbers:hover {
    background-color: var(--colorMain);
    color: var(--colorMain);
}

.pagination-numbers p{
    color: var(--colorMain);
}

.pagination-numbers p:hover{
    color: var(--colorWhite);
}

.page-active{
    background-color: var(--colorMain);
    color: var(--colorWhite);
}
.page-active > p{
    color: var(--colorWhite);
}
.paginator-btn{
    border: 1px solid var(--colorMain);
    color: var(--colorMain);   
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
}
.paginator-btn:hover{
    background-color: var(--colorMain);
    color: var(--colorWhite);
}

