
/* .landing{
    background-color: var(--l-colorMain);
} */   
/* Hero */
.landing-container{
    position: relative;
}
.landing-container::before{
    content: "";
    background: rgb(19,22,28);
    background: linear-gradient(60deg, rgba(19,22,28,1) 30%, rgba(19,22,28,1) 54%, #004C84 100%);
    height: 100svh;
    top: 0px;
    position: absolute;
    left: -50px;
    z-index: -1;
    right: 0px;
}
.hero-content{
   /*  background: rgb(19,22,28); */
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content-title{
    font-size: 2.8rem;
    color: var(--colorWhite);
    text-align: center;
    font-weight: 300;
    margin: 0rem 0.5rem 3rem 0.5rem;
}
.hero-content-title span{
    font-weight: 400;
    color: var(--l-colorGreen);
}
.hero-content-parrafo{
    font-size: 1.1rem;
    color: var(--colorWhite);
    text-align: center;
    line-height: 2rem;
    margin-bottom: 3rem;
}
.btn--get-start{
    background-color: var(--colorWhite);
    width: 100%;
    padding: 0.4rem 0px;
    font-size: 1.2rem;
}
/* Goals */
.goals{
    background-color: var(--colorWhite);
    padding: 3rem 1rem;
    text-align: center;
}
.goals-title{
    color: var(--l-colorGreenSecundary);
    font-size: 1.3rem;
    margin: 0;
    text-transform: uppercase;

}
.goals-card{
    margin: 3rem 0px;
}
.goals-card-title{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.goals-card-parrafo{
    font-size: 1rem;
}
.goals-card-icon{
    margin: 1.8rem 0px;
}


/* Carousel */
.section-carousel-lg-container{
    background-color: var(--l-colorMain);
}
.section-carousel{
    color: var(--colorWhite);
    padding: 3rem 1rem;
}
.section-carousel-title{
    font-size: 1.75rem;
    line-height: 2.25rem;
}
.section-carousel-parrafo{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.carousel{
    display: flex;
    gap: 1rem;
}
.carousel-container{
    width: 100%;
    height: auto; /* Altura del contenedor */
    overflow-x: scroll; /*ar el retorno de línea */
    color: var(--colorWhite);
    scrollbar-width: none;
}
.carousel-container::-webkit-scrollbar {
    display: none;
} 
.carousel-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: var(--l-colorGreenThird);
    width: 240px;
    color: var(--colorBlack);
}
.carousel-card-info{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.carousel-card-title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}
.carousel-card-parrafo{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-bottom: 2rem;
}
.carousel-card-info span:nth-child(1){
    border: 1px solid var(--colorBlack);
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
}
.carousel-card-link{
    display: inline-block;
}
.svg-inline--fa{
    margin-left: 0.5rem;
    height: 1rem;
    display: inline-block;
}

/* Start now */
.start-now-container{
    background: rgb(0,76,132);
    background: linear-gradient(137deg, rgba(0,76,132,1) 0%, rgba(19,22,28,1) 44%);background: rgb(0,76,132);
    background: linear-gradient(137deg, rgba(0,76,132,1) 0%, rgba(19,22,28,1) 44%);
}
.start-now{
    /* background-color: var(--colorBlack); */
    color: var(--colorWhite);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 1rem;
}
.start-now-title{
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
}
.start-now-parrafo{
    font-size: 0.875rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: var(--colorGris);
}
@media(min-width: 1028px){
    .hero-content{
        max-width: 800px;
        margin: 0 auto;
    }
    .goals-container{
        max-width: 1200px; 
        margin: 0 auto;       
    }
    .section-carousel{
        width: 1028px;
        margin: 0 auto;
    }
    .start-now{
        max-width: 1200px;
        margin: 0 auto;
    }
}