.landing-container{
    position: relative;
}
.landing-container::before{
    content: "";
    background: var(--background-color);
    background: linear-gradient(60deg, var(--background-color) 30%, rgba(19,22,28,1) 54%, var(--accent-color) 100%);
    height: 100svh;
    top: 0px;
    position: absolute;
    left: -50px;
    z-index: -1;
    right: 0px;
}
.hero-content{
    padding: 5rem 0;
    text-align: center;
}
.hero-title-span{
    color: var(--primary-color);
}

/* Goals */
.goals{
    background-color: var(--text-color);
    padding: 3rem 0;
    text-align: center;
}
.goals h3{
    color: var(--neutral-dark);
}
.goals h4{
    color: var(--accent-color);
    font-weight: 400;
}
.goals-card{
    margin: 3rem 0px;
    color: var(--neutral-dark);
}
.goals-card-icon{
    margin: 1.8rem 0px;
}


/* Carousel */
.section-carousel{
    padding: 3rem 0;
}
.section-carousel > h3{
    font-weight: 600;
}

.carousel{
    display: flex;
    gap: 1rem;
}
.carousel h5{
    font-weight: 600;
}
.carousel-container{
    width: 100%;
    height: auto; 
    overflow-x: scroll;
    scrollbar-width: none;
}
.carousel-container::-webkit-scrollbar {
    display: none;
} 
.carousel-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 1rem;
    background: linear-gradient(to right, var(--third-color), var(--accent-color));
    width: 240px;
    color: var(--text-color);
}
.carousel-card p{
    color: var(--gray-light);
}
.carousel-card-info{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.carousel-card-info span:nth-child(1){
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 0.25rem 0.75rem;
    font-weight: 700;
}
.carousel-card-link{
    display: inline-block;
}
.svg-inline--fa{
    margin-left: 0.5rem;
    height: 1rem;
    display: inline-block;
}

/* Start now */
.start-now-bg{
    background-color: var(--text-color);
    color: var(--neutral-dark);
    padding: 3rem 0;
}
.start-now{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 0 .3rem 1rem .3rem; 
}
.start-now-title{
    font-weight: 700;
    background: linear-gradient(to right, var(--primary-color), var(--accent-color));
    padding: 1.5rem; 
    color: var(--text-color);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.start-now-parrafo{
    color: var(--gray-medium);
}