.course{
    margin-bottom: 1rem;
}

.course-header{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    padding-top: 1rem;
}

.course-img img{
    width: 100%;
    border-radius: 5px;
}
.course-title{
    font-weight: 600;
}
.course-subtitle{
    color: var(--gray-light)
}
.course-profit ul{
    list-style: none;
    padding: 0;
}
.course-profit ul li{
    color: var(--gray-light);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1.4rem;
}
.course-profit ul li::before{
    content: "✓";
    width: 0.875rem;
    height: 0.875rem;
    background-color: var(--success-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-date{
    display: flex;
    color: var(--gray-light);
    gap: 0.5rem;
    align-items: center;
    margin: 0.8rem 0px;
}
.course-date span{
    display: flex;
    gap: 0.2rem;
    margin: 0;
    align-items: center;
    font-size: 0.9rem;
}
.course-feature-item{
    border-right: 1px solid var(--gray-darker);
    height: 0.65rem;
    padding-right: 0.5rem;
}

.course-b-btn{
    color: var(--gray-light);
    font-size: 0.875rem;
    margin-top: 0.8rem;
}

/* About */
.course-about{
    padding: 1rem ;
    border-radius: 10px;
    border-left: 2px solid var(--primary-color);
    background-color: var(--gray-darker);
    margin: 2rem auto;
}
.course-about-description p{
    margin: 0;
    font-size: 0.875rem;
    color: var(--gray-light);
}
.course-about-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.8;
}

.progressBar-course{
    height: 0.8rem;
}
@media(min-width: 1028px){
    .course-header{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 auto;
        place-items: center;
        padding-top: 3rem;
    }
    .course-info{
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .course-img{
        grid-column: 2/2;
    }
}