:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
   /*  --colorMain: #3f7f35;          
    --colorSecundary: #2f5f28;
    --colorThird: #1f3f1a;
    --colorBlackSecundary: #10200d;
    --colorBlack: #08090B;
    --colorRed: #DA4E3B;
    --colorGris: #B8B6B5;
    --colorGrisHard: #696969;
    --colorBlue: #3c8dbb;
    --colorWhite: #eff3f8;
    --l-colorMain: #13161C;
    --l-colorGreen: #0ae98a;
    --l-colorGreenSecundary: #07c373;
    --l-colorGreenSecundary2: #98ca3f;
    --l-colorGreenThird: #CEE5CD;
    --l-colorGris: #1c2028;
    --l-colorGrisSoft: #2c323c;
    --l-colorGrisSoft2: #a4abb6;
    --l-colorHome:  #1E2229;
    --colorGrisText:  #87909d;
 */
    --colorGreen: #3f7f35;
    --colorMain: #004C84;          
    --colorSecundary: #1e24cc;
    --colorThird: #000b54;
    --colorBlackSecundary: #10200d;
    --colorBlack: #08090B;
    --colorRed: #DA4E3B;
    --colorGris: #B8B6B5;
    --colorGrisSoft: #dcdcdc;
    --colorGrisHard: #696969;
    --colorBlue: #3c8dbb;
    --colorWhite: #eff3f8;
    --l-colorMain: #13161C;
    --l-colorGreen: #0095ff;
    --l-colorGreenSecundary: #0095ff;
    --l-colorGreenSecundary2: #0095ff;
    --l-colorGreenThird: #CEE5CD;
    --l-colorGris: #1c2028;
    --l-colorGrisSoft: #2c323c;
    --l-colorGrisSoft2: #a4abb6;
    --l-colorHome:  #1E2229;
    --colorGrisText:  #87909d;
    /*font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
*,*:before, *:after{
  box-sizing: inherit;
 /*  color-scheme: light dark; */
}
html{
  box-sizing: border-box;
}
a{
  border: none;
  text-decoration: none;
}
.content-private{
  margin: 20px;
}
.body{
  font-family: 'monserat', sans-serif;
}
h1,h2,h3,h4,h5{
  font-weight: 400;
} 
h1,h2,h3,h4,h5,p{
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
th,td{
  font-weight: 400;
  color: var(--colorGris);
}
label,select{
  color: var(--colorGrisHard);
}
/* Ttiles */
.title-header{
  color: var(--colorMain);
  font-weight: 400;
  margin-bottom: 10px;
}
.title-header-secundary{
  color: var(--colorThird);
  font-weight: 500;
  margin: 0;
}
.title-header__modal{
  font-weight: 400;
  color: var(--colorThird);
  margin: 0;  
}


/* Botones */
.f-btn{
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.btn--padding{
  padding: 0.25rem 0.5rem;
}
.btn--modal{
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  min-width: 80px;  

}
.btn--minwidth{
  min-width: 80px;  
}
.btn--red{
  border:1px solid var(--colorRed);
  color: var(--colorRed);
}
.btn--green{
  color: var(--colorMain);
  border:1px solid var(--colorMain);
}
.btn--l-white{
  color: var(--l-colorMain);
  background-color: var(--colorWhite);
}
.btn-road-start{
  background-color: #2d323a;
  border: solid #fff;
  border-color: #555c68;
  color: var(--colorWhite);
  padding: 0.4rem 0.75rem;
  border-width: 1px 1px 2px;
}
.nod-wrap{
  white-space: no-wrap;
}
.abc{
  padding: 10px;
}

input:focus {
  outline: none;
}

.input{
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid var(--colorGris);
}
.select{ 
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--colorGris);
}
.select:focus{
  outline: none;
}
.f-label{
  margin: 10px 0px 5px 0px;
}
.f-error{
  border: 1px solid var(--colorRed);
}

.d-flex{
  display: flex;
  align-items: center;
}

/* Modal */
.modal__btns{
  display: flex;
  gap: 10px;
  justify-content: flex-end;  
}

/* Formik */
.f-error{
 color: var(--colorRed); 
 border: none;
 color: var(--colorRed);
 font-size: .8rem;
 margin: 5px 0;
}
.border-input:focus{
  border: 1px solid var(--colorThird);
}

.modal-body{
  padding: 0px;
}
.input-file{
  display: inline;
}

/* Paginator */
.btn-disabled{
  background-color: var(--colorGris);
  color: var(--colorWhite);
  border: var(--colorWhite);
}
.paginator-btn.btn-disabled:hover{
  background-color: var(--colorGris);
  color: var(--colorWhite);
}

/* Ttitle  */
.title-section-subject{
  color: var(--colorWhite);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.img-icon{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

/* progress bar */

.progressBar{
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--colorMain);
  height: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.progressBar::-webkit-progress-value{
  background-color: var(--colorMain);
}

.progressBar::-webkit-progress-bar{
  background-color: var(--colorGrisText);
}


/* Card course  */


.path-courses{
  width: 90%;
  margin: 0 auto;
}
.path-courses ul a {
  text-decoration: none;
}

.path-courses ul{
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}


.card-course{
  background-color: var(--l-colorGrisSoft);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgb(78,93,103);
  background: radial-gradient(circle, rgba(78,93,103,1) 27%, rgba(44,50,60,1) 100%);
}
.card-course-img img{
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.path-courses ul a li h4{
  color: var(--colorWhite);
  font-size: 1rem;
}
.path-courses ul a li p{
  color: var(--colorGris);
  font-size: 0.75rem;
  margin: 0;
}
.card-course-info{
  padding: 1rem 1rem 1rem 1rem;
}

@media(min-width: 768px){
  .path-courses{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .path-courses ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
  }
  .path-courses ul a li p{
      font-size: 0.85rem;
  }
}


/* QUIZ */
.quiz{
  background-color: var(--l-colorMain);
  padding: 1rem 1rem;
}

.quiz-container{
  background-color: var(--l-colorMain);
  color: var(--colorWhite);
}

.quiz-footer{
  display: flex;
  gap: 0.5rem;
  /* justify-content: space-between; */
}

/* quiz finished */
.quiz-finished-list{
  padding: 0rem 1rem;
  list-style: decimal;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.quiz-finished-list li::marker{
  color: var(--colorMain);
}

.quiz-header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.quiz-footer button{
  background-color: var(--colorWhite);
  padding: 0.3rem 0.8rem;
  font-weight: 500;
}
.quiz-footer button.disabled{
  background-color: rgb(46, 46, 46);
  color: rgb(112, 112, 112);
}

.quiz p {
  color: var(--colorGris);
  font-size: 0.875rem;
  margin: 0;
}
.response-cards{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.response-card{
  background-color: var(--l-colorGris);
  display: flex;
  gap: 0.5rem;
  border-radius: 0.3rem;
  padding: 0;

  border: solid var(--l-colorGrisSoft2);
  border-width: 1px 1px 1px;
  align-items: center;
  transition: 0.3s;
}
.response-card > p {
  padding: 0.5rem;
  background-color: var(--colorGrisHard);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  width: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.response-card:hover{
}

.response-card.selected{
  border: solid var(--colorGreen);
  border-width: 1px 1px 1px;
}
/* .response-card:focus-within > p {
  background-color: var(--colorMain);
} */
.response-card-content{
  display: flex;
  flex-direction: column;
}

.message{
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: none;
}
.message.success{
    display: block;
    background-color: #051b11;
    color: #75b798;
    border: #0f5132 solid;
    border-width: 1px 1px 1px;
}

.message.error{
    display: block;
    background-color: #2c0b0e;
    color: #ea868f;
    border: #842029 solid;
    border-width: 1px 1px 1px;
}



/* Classs Card */
.class-card{
  padding: 1rem 1rem 0rem 1rem;
  background-color: var(--l-colorGris);
  border-bottom: 1px solid var(--colorBlack);
}
.class-card button{
  width: 100%;
}
.class-card-header{
  display: flex;    
  justify-content: space-between;
  width: 100%;

}
.class-card-icon{
  color: var(--colorWhite);
}
.class-card:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.class-card button{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.3rem;
}

.class-card.active{
  border-left: 2px solid var(--l-colorGreenSecundary);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.class-card-description{
  color: var(--colorGris);
  font-size: 0.875rem;
}

/* Subject */
.class-card-subjects{
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
}
.class-card-subjects.active{
  height: auto;
  max-height: 24rem;
}
.class-card-subjects ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.class-card-subjects ul li{
  width: 100%;
}
.class-card-subjects ul li button{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--colorGris);
  font-size: 0.875rem;
  justify-content: space-between;
  text-align: left;
}

.class-card-title{
  display: flex;
  gap: 0.5rem;
  align-items: start;
  font-weight: 400;
  color: var(--colorWhite);
  font-weight: 600;
}

/* Clases */
.course-classes{
  background-color: var(--colorBlack);
  padding: 2rem 1rem;
}
.course-classes-title{
  color: var(--colorWhite);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.course-classes-container{
  border-radius: 10px;
}

.quiz-intro-list{
  color: var(--colorGris);
  font-size: 0.875rem;
  list-style: symbols();
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.quiz-intro-list li::marker{
  color: var(--colorMain);
}

.quiz h4{
  display: flex;
  gap: 0.5rem;
  align-items: start;
  font-weight: 400;
  color: var(--colorWhite);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}
.btn--get-start{
  background-color: var(--colorWhite);
  width: 100%;
  padding: 0.4rem 0px;
  font-size: 1.2rem;
}