:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --colorMain: #3f7f35;          
    --colorSecundary: #2f5f28;
    --colorThird: #1f3f1a;
    --colorBlackSecundary: #10200d;
    --colorBlack: #000000;
    --colorRed: #DA4E3B;
    --colorGris: #B8B6B5;
    --colorGrisHard: #696969;
    --colorBlue: #3c8dbb;
}

.content-private{
  margin: 50px;
}
.body{
  font-family: 'monserat', sans-serif;
}
h1,h2,h3,h4,h5{
  font-weight: 400;
} 
h1,h2,h3,h4,h5,p{
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
th,td{
  font-weight: 400;
  color: var(--colorGris);
}
label,select{
  color: var(--colorGrisHard);
}
/* Ttiles */
.title-header{
  color: var(--colorMain);
  font-weight: 400;
  margin-bottom: 10px;
}
.title-header-secundary{
  color: var(--colorThird);
  font-weight: 500;
  margin: 0;
}
.title-header__modal{
  font-weight: 400;
  color: var(--colorThird);
  margin: 0;
}


/* Botones */
.f-btn{
  background-color: transparent;
  border-radius: 5px;
}

.btn--padding{
  padding: 5px;
}
.btn--modal{
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  min-width: 80px;  

}
.btn--minwidth{
  min-width: 80px;  
}
.btn--red{
  border:1px solid var(--colorRed);
  color: var(--colorRed);
}
.btn--green{
  color: var(--colorMain);
  border-radius: 5px;
  background-color: transparent;
  border:1px solid var(--colorRed);
}
.btn--main{
  color: var(--colorMain);
  background-color: transparent;
  border-radius: 5px;
  border:1px solid var(--colorMain);
}
.abc{
  padding: 10px;
}

input:focus {
  outline: none;
}

.input{
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid var(--colorGris);
}
.select{ 
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--colorGris);
}
.select:focus{
  outline: none;
}
.f-label{
  margin: 10px 0px 5px 0px;
}
.f-error{
  border: 1px solid var(--colorRed);
}

.d-flex{
  display: flex;
  align-items: center;
}

/* Modal */
.modal__btns{
  display: flex;
  gap: 10px;
  justify-content: flex-end;  
}

/* Formik */
.f-error{
 color: var(--colorRed); 
 border: none;
 color: var(--colorRed);
 font-size: .8rem;
 margin: 5px 0;
}
.border-input:focus{
  border: 1px solid var(--colorThird);
}