.header{
    background-color: var(--colorMain);
    height: 60px;
    color: var(--colorWhite);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
}
.header-content h5{
    margin: 0;
    font-weight: 400;

}