.player-wrapper {
    position: relative;
    padding-top: 56.25%; 
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.subject-loading{
    background-color: var(--gray-light);
    height: calc(100vh + 4rem);
    margin: 0 auto;
}

.controls-player{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    border-bottom: 1px solid var(--gray-dark);
    background-color: var(--gray-darker);
}
.controls-player, .controls-player button{
    color: var(--gray-light);
}
.switch{
    position: relative;
    display: inline-block;
    width: 2rem;
    height: .8rem;
    background-color: var(--gray-light);
    border-radius: 40px;
    cursor: pointer;
}
.switch::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--text-color);
    left: 0;
    top: -1px;
    border-radius: 50%;
    transition: all 0.4s;
}
input[type="checkbox"]:checked + .switch::after {
    transform: translate(1.0rem);
    background-color: var(--text-color);
}
input[type="checkbox"]:checked + .switch{
    background-color: var(--primary-color);
}
.offscreen{
    display: none;
}

.controls-player button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem;
    gap: 0.25rem;
}
.subject-info{
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-darker);
}
.subject-info h2{
    color: var(--text-color);
    font-weight: 600;
}
.subject-info-sub{
    display: flex;
    gap: 0.3rem;
    color: var(--gray-light);
    align-items: center;
}
.subject-info-sub p{
    margin: 0;
    font-size: 0.785rem;
}

.subject-info-sub p:last-child{
    margin: 0;
    color: var(--l-colorGreen);
}
.subject-info-teacher{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: 0.785rem;
}
.subject-info-teacher img{
    width: 1.2rem;
    height: 1.2rem;
}

.subject-info-teacher-content{
    display: flex;
    gap: 0.5rem;
}
.subject-info-teacher-content img{
    border-radius: 50%;
}

.subject-btns-line{
    display: flex;
    justify-content: space-around;
    background-color: var(--colorBlack);
    padding-top: 0.5rem;
}
.subject-btns-line button{
    color: var(--gray-light);
    background-color: transparent;
    border: none;
    width: 100%;
}
.subject-btns-line button.flag{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.classmain-card{
    border: solid var(--gray-light);
    background-color: var(--gray-light);
    border-width: 1px 1px 2px;
    padding: 1rem;
    text-align: left;
}
.course-classesmain-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.course-classes-pd{
    padding: 0 1rem;
}
/* Subject List Vertical */
.subject-list-item{
    display: flex;
    align-items: start;
    position: relative;
}
.subject-list-item li a{
    text-decoration: none;
}
.subject-list-item::before{
    content: "";
    flex: none;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--gray-light);
    border-radius: 50%;
    z-index: 1;
}
.subject-list-item.active::before{
    background-color: var(--primary-color);
}
.subject-list-item::after{
    content: "";
    top: .5rem;
    left: 5px;
    position: absolute;
    width: 2px;
    height: 120%;
    text-align: start;
    background-color: var(--gray-light);
}
.subject-list-item.active::after{
    background-color: var(--primary-color);
}
.subject-list-item:last-child::after{
    display: none;
}
.subject-btn.active span{
    color: var(--primary-color);
}

/* Resource */
.subject-resource{
    padding: 2rem 1rem;
    color: var(--text-color);
}
.subject-resource-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-light);
}
.subject-resource-card{
    padding: 1rem;
    color: var(--gray-light);
    border-radius: 10px;
    background-color: var(--gray-darker);
}

.subject-resource-card h5{
    font-weight: 600;
}
.files-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.titleMain{
    color: var(--text-color);
}
.subject-resource__item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.subject-resource__item a{
    text-decoration: none;
    color: var(--text-color);
}
/* Comments */
.contribution{
    padding: 2rem 1rem;
    color: var(--text-color);
}
.card_comment-list {
    padding: 0;
    list-style: none;
}
.card_comment{
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 24px 1fr minmax(25px, auto);
    gap: .2rem 0.5rem; 
    position: relative;
    margin-bottom: 0.75rem;
}
.comment-replies{
    grid-column: 2/3;
    padding: 0;
}
.comment-replies li:nth-last-child(2){
    margin-bottom: 0.2rem;
}

.card_comment-reply2{
    display: grid;
    gap: .2rem 0.5rem; 
    margin-bottom: 0.75rem;
    grid-template-columns: 24px 1fr;
}

.card_comment-img{
    width: 24px;
    border-radius: 50%;
}
.card-comment img{
    width: 20px;
    grid-row: 1/4;
    grid-column: 1/2;
}

.card_comment-content{
    grid-row: 1/3;
    grid-column: 2/3;
    background-color: var(--gray-darker);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0.7rem 0px 0.7rem;    
    font-size: 14px;
}
.card_comment-content p{
    margin: 0.2rem 0rem 0.5rem 0rem;
}

.card_comment-content-name{
    font-weight: 500;
    letter-spacing: 0.019rem;
}   
.card_comment-content-text{
    color: var(--gray-light);
}

.card_comment-likes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_comment-reply.active{
    display: none;
}
.card_comment-reply{
    grid-column: 2/3;
 
}
.card_comment-reply button{
    display: flex;
    align-items: end;
    gap: .2rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    height: 100%;
}
.card_comment-reply button p {
    margin: 0;
    font-size: 0.785rem;
}

.btn-comment{
    width: 100%;
    background-color: var(--gray-darker);
    border: 1px solid #404650;
    border-radius: 0.3rem;
    color: #87909d;
    padding: .4rem 0.75rem;
    text-align: left;
    margin-bottom: 1.5rem;
    display: block;
}
.btn-comment.active{
    display: none;
}
.input_comment-container{
    position: relative;
    height: 165px;
    background-color: #13161c;
    border: 1px solid #404650;
    border-radius: 0.75rem;
    display: none;
}
.input_comment-container.active{
    display: block;
    max-height: 135px;
}
.input_comment{
    border-radius: 0.75rem;
    width: 100%;
    color: #c4c8ce;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 110px;
    max-height: 110px;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .019rem;
    text-transform: none;
    text-decoration: none;
    padding: 0.75rem 1rem 0.75rem 0.75rem; 
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    outline: none;
}
.input_comment:hover{
    outline: none;
}

.input_comment-btnclose{
    background-color: transparent;
    color: var(--text-color);   
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-send-comment{
    background-color: transparent;
    color: var(--text-color);   
    border: none;
    position: absolute;
    bottom: 4px;
    right: 0;
}

/* Estilos por defecto del scrollbar */
.input_comment::-webkit-scrollbar {
    background-color: black;
    width: 0.5rem;
}

.input_comment::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: black;
    }
    
.input_comment::-webkit-scrollbar-track {
      background-color: var(--gray-darker);
}

.input-comment:hover::-webkit-scrollbar-thumb {
    background-color: var(--text-color); /* Nuevo color del thumb al pasar el mouse */
}
.btn-view_more{
    grid-column: 2/3;
    position: relative;
    padding-left: 1rem;
}

.btn-view_more::after{
    content: "";
    width: 1rem;
    height: 2px;
    background-color: #2d323a;
    position: absolute;
    top: 12px;
    left: 0px;
}
.btn-view_more button{
    background-color: transparent;
    color: var(--gray-light);
    border: none;
    font-size: 0.785rem;
}

.siderbar-comments{
    min-width: 400px;
    grid-column: 2/3;
    grid-row: span 2;
    min-height: calc(100vh - 48px - 1rem);
    max-height: calc(100vh - 48px - 1rem);
    overflow-y: scroll;
}

/* Estilos por defecto del scrollbar */
.siderbar-comments::-webkit-scrollbar {
    background-color: black;
    width: 0.5rem;
}

.siderbar-comments::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: black;
    }
    
.siderbar-comments::-webkit-scrollbar-track {
      background-color: var(--gray-dark);
}

.input-commen:hover::-webkit-scrollbar-thumb {
    background-color: var(--text-color); /* Nuevo color del thumb al pasar el mouse */
}


@media(min-width: 1028px){
    .subject{
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: calc(56.25vw - 300px) 1fr;
        background-color: var(--background-color);
    }
    .subject-contributions{
        min-width: 400px;
    }
    .xlp1{
        grid-column: 1/2;
        grid-row: 1/2;
        overflow: scroll;
        min-height: calc(100vh - 48px - 1rem);
        max-height: calc(100vh - 48px - 1rem);
    }
    .xlp1::-webkit-scrollbar{
        display: none;
    }
}
/* Suscribe */
.suscribe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-darker);
    color: var(--text-color);
    gap: .5rem;
}