.user-menu{
    display: flex;
    align-items: center;
    color: var(--colorWhite);
    gap: 0.7rem;
}
.user-menu-img{
    width:  1.5rem;
    height: 1.5rem;
}

.user-menu img{
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.user-menu-pts{
    display: flex;
    align-items: center;
    gap: 0.1rem;
}
.user-menu-pts p{
    margin: 0;
}