.simulation, .pathCourse, .quizzes{
    background-color: var(--l-colorMain);
    color: var(--colorWhite);
}
/* paths */
.simulation-roads{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 0px;
    list-style: none;
}

.simulation-road{
    background: rgb(78,93,103);
    background: radial-gradient(circle, rgba(78,93,103,1) 27%, rgba(44,50,60,1) 100%);
    color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.simulation-road h4{
    color: var(--colorWhite);
    font-size: 1rem;
    margin: 0px;
}
.simulation-road p{
    color: var(--colorGris);
    font-size: 0.75rem;
    margin: 0;
}
.simulation-road-img{
    object-fit: contain;
}
.simulation-road-img img{
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    width: 100%;
    aspect-ratio: 16/9;
}
.simulation-road-btn{
    background-color: var(--colorMain);
    color: var(--colorWhite);
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    width: 100%;
}
.simulation-road-info{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem 1rem 0.7rem 1rem;
}

/*quizzes  */
.quizzes{
    
}

@media(min-width: 1028px){
    .simulation-roads{
        grid-template-columns: repeat(2, 1fr);
    }
}